/*
  Custom styling for Checkout page
*/

$checkout-bg: #fafafa;
$checkout-font-size: $font-size;
$checkout-font-passive: #717171;
$checkout-border: 1px solid rgba(black, .1);
$checkout-radius: $g-radius;

$banner-texts: (
  banner_size: "Set 1600x200 featured image in Pages > Checkout",
  banner_logo: "Set logo in \"Appearance > Customize\""
);

$checkout-password-meter: (
  too_short: "Please use longer password.",
  bad: "Good, but can be stronger.",
  good: "Great, that will do!",
  strong: "Now, that's a strong password!"
);

///// GENERAL

body.woocommerce-checkout {
  h3 {
    font-weight: 400;
  }

  .woocommerce {
    overflow-x: hidden;
  }
}

.checkout-banner {
  position: relative;
  padding-top: 5em;
  padding-bottom: 2em;

  @include below(mini) {
    padding-top: 1em;
    padding-bottom: 7em;
  }

  .custom-logo {
    max-height: 60px;
    width: auto;
  }
}

.checkout-empty-banner {
  background: repeating-linear-gradient(45deg,#e0e0e0 0,#e0e0e0 5%,#f8f8f8 0,#f8f8f8 50%) 0/10px 10px;
  border-bottom: $checkout-border;

  &::before,
  &::after {
    position: absolute;
    opacity: .5;
    font-weight: $header-weight;
    text-transform: uppercase;
  }

  &::after {
    content: map-get($banner-texts, banner_size);
    top: 50%;
    width: 100%;
    text-align: center;
    @include transform(translateY(-50%));
  }

  &::before {
    content: map-get($banner-texts, banner_logo);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: $grid-max-width;
  }
}

form.woocommerce-checkout {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  @include clearfix;

  h3 {
    @include font-sizes($h5-sizes);
    margin-bottom: 0.75em;
  }
}

.woocommerce-NoticeGroup {
  margin-bottom: 1.5em;

  .woocommerce-error {
    padding: 1em;
  }
}

///// INPUT

.form-row {
  position: relative;
  padding: 0 7.5px;
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
textarea {
  .form-row & {
    padding: 13px 11px;
    -webkit-appearance: none;
    appearance: none;
    transition: $g-transition;
  }

  .form-row.form-row--active &,
  .woocommerce-form-login & { // appear by default on login form
    padding-top: 21px;
    padding-bottom: 5px;
  }

  .form-row.woocommerce-invalid & {
    border-color: $color-red;
    box-shadow: 0 0 0 1px $color-red;
  }
}

label[for] {
  .form-row & {
    position: absolute;
    top: 5px;
    left: 18.5px;
    opacity: 0;
    visibility: hidden;
    font-size: em(12px, 14px);
    color: lighten($checkout-font-passive, 10%);

    transition: $g-transition;
    @include transform(translateY(10px) );
  }

  .form-row.form-row--active &,
  .woocommerce-form-login & {
    opacity: 1;
    visibility: visible;
    @include transform(none);
  }

  .form-row.woocommerce-invalid & {
    color: $color-red;
  }
}

///// LOADER

.woocommerce .blockUI.blockOverlay::before,
.woocommerce .loader::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;

  height: 1.5em;
  width: 1.5em;

  background-image: url('../../../../../wp-includes/images/spinner.gif');
  background-position: center center;
  background-size: cover;

  @include transform(translateX(-50%) translateY(-50%) );
}

///// COLUMN

div.woocommerce {
  h-column { position: relative; }
}

.checkout-customer {
  width: 58%;
  padding: 2em 60px 0 0;

  @include below(medium) {
    padding-right: 20px;
  }

  @include below(small) {
    width: 100%;
  }
}

.checkout-order {
  position: relative;
  width: 42%;
  clear: none;
  padding: 3em 0 2em 40px;
  background-color: transparent;

  &::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    background: $checkout-bg;
    border-left: $checkout-border;
  }

  @include below(medium) {
    padding-left: 15px;
  }

  @include below(small) {
    width: 100%;
    margin: 2em 0;
    padding: 1em;
    background-color: $checkout-bg;
    border: $checkout-border;
    border-radius: $g-radius;

    &::after { display: none; }
  }

}

///// SIDE FORM (coupon and login)

.checkout-side-form {
  position: absolute;
  z-index: z(checkout_sideform);
  top: -2em;
  right: 2em;
  border-top: 3px solid $color-main;
  background-color: white;

  box-shadow: $shadow-z1;
  border-radius: $checkout-radius;
  @include transform(translateY(-100%) );

  @include below(mini) {
    top: -1em;
    right: 1em;
    font-size: em(12px, 14px);
  }

  input[type="submit"] {
    padding: 8px 6px;
  }

  .form-row {
    padding: 0;
  }

  .woocommerce-info,
  .woocommerce-message,
  .woocommerce-error {
    margin: 1em;
    border: none;
    box-shadow: none;
  }

  .woocommerce-message { color: $color-green; }
  .woocommerce-error { list-style-type: none; color: $color-red; }
}

form.woocommerce-form-login,
form.checkout_coupon {
  display: -webkit-flex;
  display: flex;

  position: absolute;
  width: 100%;
  padding: 1em;
  background-color: white;

  box-shadow: $shadow-z1;
}

form.woocommerce-form-login {
  flex-direction: column;
  z-index: z(checkout_login);

  > p:first-child { display: none; }
  .form-row label[for] { left: 11px; }

  input[type="submit"] {
    width: 100%;
    margin-bottom: 15px;
    font-size: em(16px, $checkout-font-size);
    font-weight: $header-weight;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

form.checkout_coupon {
  .form-row { margin-bottom: 0; }

  .form-row-first {
    flex: 1;
    padding-right: 0.5em;
  }

  .form-row--active {
    input:not([type="submit"]) { padding: 13px 11px; }
  }

  input {
    height: 100%;
  }
}

// error message from Coupon / Login
body.woocommerce-checkout div.woocommerce > .woocommerce-message,
body.woocommerce-checkout div.woocommerce > .woocommerce-error {
  position: absolute;
  top: -20px;
  right: 0;
  padding: 10px 1em;
}


///// CUSTOMER DETAIL /////

#customer_details {
  margin-bottom: 1.5em;
}

.checkout-customer {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  .col-1,
  .col-2 {
    width: 100%;
  }

  .col-2 {
    margin-top: 1.5em;
  }
}

// breadcrumb
.checkout-customer .entry-breadcrumbs {
  margin-bottom: 1em;
  font-size: em(12px);
  color: $checkout-font-passive;

  > span + span::before {
    content: ">";
    margin: 0 0.5em;
  }
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper,
.woocommerce-account-fields {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 -7.5px;
}

// Select wrapper

.checkout-customer .form-row--select {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 40px;
    width: 1px;
    height: 20px;
    background-color: #dadada;
    @include transform(translateY(-50%) );
  }

  &::after {
    content: "▾";
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: em(22px);
    color: lighten($checkout-font-passive, 10%);
    @include transform(translateY(-50%) );
  }
}

// Shipping address

.woocommerce-shipping-fields {
  margin-bottom: 1.5em;
}

// Field sizing

.checkout-customer .form-row {
  width: 50%;
}

#billing_address_1_field,
#shipping_address_1_field {
  width: 66.667%;
}

#billing_address_2_field,
#shipping_address_2_field {
  width: 33.333%;
}

#billing_country_field,
#shipping_country_field {
  width: 37.5%;

  @include below(mini) {
    width: 100%;
  }
}

#billing_state_field,
#shipping_state_field {
  width: 37.5%;

  @include below(mini) {
    width: 66.667%;
  }
}

#billing_postcode_field,
#shipping_postcode_field {
  width: 25%;

  @include below(mini) {
    width: 33.333%;
  }
}


///// ACCOUNT FIELDS

.woocommerce-account-fields {
  margin-bottom: 3em;

  .form-row {
    margin-bottom: 0;
  }

  .form-row.create-account {
    align-self: flex-start;
    width: auto;
  }

  div.create-account {
    flex: 1;
  }
}

#billing_email_field {
  width: 100%;
  margin-bottom: 1em;
}

#account_password_field {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: auto;

  input[type="password"] {
    width: 220px;
  }

  .woocommerce-password-hint {
    display: none;
  }
}

.woocommerce-password-strength {
  flex: 1;
  padding-left: 15px;
  font-size: 0;
  color: $color-main;

  &::after {
    font-size: 13px;
  }

  &.short::after {
    content: map-get($checkout-password-meter, too_short);
    color: $color-red;
  }

  &.bad::after {
    content: map-get($checkout-password-meter, bad);
    color: $color-blue;
  }

  &.good::after {
    content: map-get($checkout-password-meter, good);
    color: $color-green;
  }

  &.strong::after {
    content: map-get($checkout-password-meter, strong);
    color: $color-green;
  }
}




///// ORDER DETAILS

.checkout-order {
}

#order_review_heading {
  display: none;
}

.woocommerce-checkout-review-order-table {
  width: 100%;

  tr {
    display: -webkit-flex;
    display: flex;
  }

  td, th {
    display: block
  }

  td, th {
    padding: 0.428em 0.5em;
    text-align: left;
    vertical-align: top;

    &:nth-child(2) {
      text-align: right;
    }
  }

  thead {
    display: none;
  }

  tbody {
    font-size: em(16px, $checkout-font-size);

    td:nth-child(1) { width: 60%; }
    td:nth-child(2) { width: 40%; }

    tr:last-child > th,
    tr:last-child > td {
      padding-bottom: 1.5rem;
    }
  }

  tfoot {
    border-top: $checkout-border;
    color: $checkout-font-passive;

    th { width: 30%; font-weight: $font-weight; }
    td { width: 70%; }

    tr:first-child > th,
    tr:first-child > td {
      padding-top: 1rem;
    }

    tr:nth-last-child(2) > th,
    tr:nth-last-child(2) > td {
      padding-bottom: 1rem;
    }
  }

  /////

  .woocommerce-Price-currencySymbol {
    display: none;
  }
}

// CART DISCOUNT
.woocommerce-checkout-review-order-table .cart-discount {
  color: $font-color;

  th { font-weight: $header-weight; }

  .woocommerce-remove-coupon {
    font-size: 0;

    &::after {
      content: "×";
      display: inline-block;
      background-color: #c8c8c8;
      width: 16px;
      height: 16px;
      margin-left: 0.25em;

      color: white;
      text-align: center;
      font-size: 1rem;
      line-height: 1;
      border-radius: 50%;
    }

    &:hover::after {
      background-color: $color-red;
    }
  }
}

// ORDER TOTAL
.woocommerce-checkout-review-order-table .order-total {
  border-top: $checkout-border;
  color: $font-color;

  th { vertical-align: middle; font-size: em(16px, $checkout-font-size); }
  td { font-size: em(24px, $checkout-font-size); }

  th, td { padding-top: 1rem; padding-bottom: 1rem; }
  strong { font-weight: $font-weight; }

  .woocommerce-Price-currencySymbol {
    display: inline;
    margin-right: 0.5em;
    font-size: em($checkout-font-size, 24px);
    color: $checkout-font-passive;
    vertical-align: middle;
  }
}


///// SHIPPING and PAYMENT METHOD

#shipping_method,
.wc_payment_methods {
  background-color: white;
  border: $checkout-border;
  list-style-type: none;
  border-radius: $checkout-radius;

  li {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li + li {
    border-top: $checkout-border;
  }

  label {
    flex: 1;
    padding: 1em;
  }

  input[type="radio"]:checked + label {
    font-weight: $header-weight;
  }
}



/////

#shipping_method {
  margin-right: -0.5em; // offset for extra box
  text-align: left;

  input[type="radio"] {
    margin-left: 0.5em;
  }

  label {
    display: -webkit-flex;
    display: flex;
    padding: 0.75em 0.5em;

    .woocommerce-Price-amount {
      margin-left: auto;
    }
  }
}


/////

.wc_payment_methods {
  margin-bottom: 1em;

  input[type="radio"] {
    margin-left: 1em;
  }

  .payment_box {
    width: 100%;
    padding: 0 1em 1em 3em;
  }
}

/////

.wc-terms-and-conditions {
  margin-bottom: 1em;

  input[type="checkbox"] {
    vertical-align: middle;
  }
}

.place-order {
  text-align: right;

  .button {
    padding: 0.75em 1.5em;
  }
}


///// LEGAL

.checkout-legal {
  margin-top: auto;
  border-top: $checkout-border;
  padding: 1em 0;
  font-size: em(12px);
  color: $checkout-font-passive;

  span + span::before {
    content: "• ";
  }
}


///// THANK YOU PAGE /////

.woocommerce-order-received {

  .page { padding: 20px 0 40px; }
  p { margin-bottom: 1em; }
  ul { padding-left: 0; }
  h2 { margin-bottom: 0.5em; }
  h3 { margin-bottom: 10px; font-size: em($h6); font-weight: $header-weight; }

  td.product-name dl.variation dd { margin-bottom: 0; }
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {

}
