/*
  Custom styling for Checkout page
*/



///// GENERAL

#wpadminbar { position: fixed !important; }

body {
  overflow-x: hidden;
}

h3 {
  @include font-sizes($h6-sizes);
  margin-bottom: 0.75em;
}

h2 {
  @include font-sizes($h4-sizes);
  margin-bottom: 0.5em;
  font-weight: $font-weight;
}


///// BANNER

.checkout-banner {
  position: relative;
  padding-top: 5em;
  padding-bottom: 2em;

  @include below(small) {
    padding-bottom: 1em;
  }

  @include below(mini) {
    padding-top: 1em;
    padding-bottom: 7em;
  }

  .custom-logo {
    max-height: 60px;
    width: auto;
  }
}

.checkout-empty-banner {
  background: repeating-linear-gradient(45deg,#e0e0e0 0,#e0e0e0 5%,#f8f8f8 0,#f8f8f8 50%) 0/10px 10px;
  border-bottom: $checkout-border;

  &::before,
  &::after {
    position: absolute;
    opacity: .5;
    font-weight: $header-weight;
  }

  &::after {
    content: map-get($banner-texts, banner_size);
    top: 50%;
    width: 100%;
    text-align: center;
    @include transform(translateY(-50%));
  }

  &::before {
    content: map-get($banner-texts, banner_logo);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: $grid-max-width;
  }
}

///// FORM WRAPPER

form.woocommerce-checkout,
div.woocommerce-order {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  @include clearfix;
}

.woocommerce-NoticeGroup {
  margin-bottom: 1.5em;

  .woocommerce-error {
    padding: 1em;
  }
}

///// LOADER

.woocommerce .blockUI.blockOverlay::before,
.woocommerce .loader::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;

  height: 1.5em;
  width: 1.5em;

  background-image: url('../../../../../wp-includes/images/spinner.gif');
  background-position: center center;
  background-size: cover;

  @include transform(translateX(-50%) translateY(-50%) );
}

///// COLUMN

div.woocommerce {
  position: relative;
  max-width: $grid-max-width;
  margin: 0 auto;
}

.column-main {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 58%;
  padding: 2em 60px 0 0;

  .col-1,
  .col-2 {
    width: 100%;
  }

  .col-2 {
    margin-top: 1.5em;
  }

  @include below(large) {
    padding-left: 10px;
  }

  @include below(medium) {
    padding-right: 20px;
  }

  @include below(small) {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.column-aside {
  position: relative;
  width: 42%;
  clear: none;
  padding: 1.5em 0 2em 40px;
  background-color: transparent;

  &::after {
    content: "";
    display: block;
    width: 300%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    background: $checkout-bg;
    border-left: $checkout-border;
  }

  @include below(medium) {
    padding-left: 15px;
  }

  @include below(small) {
    width: 100%;
    margin: 2em 0;
    padding: 1em 0.5em;
    background-color: $checkout-bg;
    border: $checkout-border;
    border-radius: $g-radius;

    &::after { display: none; }
  }

}

///// SIDE FORM (coupon and login)

.checkout-side-form {
  position: absolute;
  z-index: z(checkout_sideform);
  top: -2em;
  right: 0;
  border-top: 3px solid $color-main;
  background-color: $color-main-light;

  -webkit-backface-visibility: hidden;
  box-shadow: $shadow-z1;
  border-radius: $checkout-radius;
  @include transform(translateY(-100%) );

  @include below(small) {
    top: -1em;
    right: $grid-gutter / 2;
    font-size: em(13px, 14px);
  }

  input[type="submit"] {
    padding: 8px 6px;
  }

  .form-row {
    padding: 0;
  }

  .woocommerce-info,
  .woocommerce-message,
  .woocommerce-error {
    display: block !important;
    margin: 10px 1em;
    border: none;
    background-color: transparent;
    box-shadow: none;

    @include below(small) {
      margin: 0.5em;
    }
  }

  .woocommerce-message { color: $color-green; }
  .woocommerce-error { list-style-type: none; color: $color-red; }
}

form.woocommerce-form-login,
form.woocommerce-form-coupon {
  @include display-flex;

  position: absolute;
  width: 100%;
  padding: 10px;
  margin-top: -2px;
  background-color: white;

  border-radius: 0 0 $g-radius $g-radius;
  box-shadow: $shadow-z1;

  // hide guide
  > p:first-child {
    display: none;
  }
}


// login
form.woocommerce-form-login {
  flex-direction: column;
  z-index: z(checkout_login);

  .form-row label[for] {
    left: 11px;
  }

  input[type="submit"] {
    width: 50%;
  }

  .woocommerce-form__label-for-checkbox {
    display: inline;
    width: 50%;
    padding-left: 1em;
    font-size: em(12px, 14px);
  }
}

// coupon
form.woocommerce-form-coupon {
  .form-row {
    margin-bottom: 0;
  }

  .form-row-first {
    flex: 1;
    padding-right: 0.5em;
  }

  .form-row--active {
    input:not([type="submit"]) { padding: 13px 11px; }
  }

  input {
    height: 100%;
  }

  input[type="text"] {
    padding-top: 8px;
    padding-bottom: 8px;
  }

}

// error message from Coupon / Login
div.woocommerce .checkout-side-form + .woocommerce-message {
  position: absolute;
  top: -20px;
  right: $grid-gutter;
  padding: 10px 1em;
}


///// CUSTOMER DETAIL /////

#customer_details {
  margin-bottom: 1.5em;
}

// breadcrumb
.entry-breadcrumbs {
  margin-bottom: 1em;
  font-size: em(12px);
  color: $checkout-font-passive;

  > span + span::before {
    content: ">";
    margin: 0 0.5em;
  }
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper,
.woocommerce-account-fields {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 -7.5px;
}

// Select wrapper

.form-row--select {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 40px;
    width: 1px;
    height: 20px;
    background-color: #dadada;
    @include transform(translateY(-50%) );
  }

  &::after {
    content: "▾";
    position: absolute;
    z-index: -1;
    top: 50%;
    right: 15px;
    font-size: em(22px);
    color: lighten($checkout-font-passive, 10%);
    @include transform(translateY(-50%) );
  }
}


// Select2

.select2-container {
  width: 100% !important;
  vertical-align: baseline;
}

.select2-container .select2-selection--single {
  margin: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  min-height: 19px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: normal;
  padding: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-main;
}

// Shipping address

.woocommerce-shipping-fields {
  margin-bottom: 1.5em;
}

// Field sizing

.column-main .form-row {
  width: 50%;
}

#billing_address_1_field,
#shipping_address_1_field {
  width: 66.667%;

  @include below(mini) { width: 100%; }
}

#billing_address_2_field,
#shipping_address_2_field {
  width: 33.333%;

  @include below(mini) { width: 100%; margin-bottom: 2em; }
}

#billing_country_field,
#shipping_country_field {
  width: 37.5%;

  strong {
    position: relative;
    display: block;
    padding: 21px 11px 5px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 35px;
      background-color: $body-background;
    }
  }

  @include below(mini) {
    width: 100%;
  }
}

#billing_state_field,
#shipping_state_field {
  width: 37.5%;

  @include below(mini) {
    width: 50%;
  }
}

#billing_postcode_field,
#shipping_postcode_field {
  width: 25%;

  @include below(mini) {
    width: 50%;
  }
}

#order_comments_field {
  @include below(mini) {
    width: 100%;
  }
}


///// ACCOUNT FIELDS

.woocommerce-account-fields {
  margin-bottom: 2em;

  .form-row {
    margin-bottom: 0;
  }

  // checkbox field
  .form-row.create-account {
    align-self: flex-start;
    width: auto;
    margin-top: 1em;
  }

  // password field
  div.create-account {
    margin-top: 1em;
  }
}

#billing_email_field {
  width: 100%;
}

#account_password_field {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  width: auto;

  input[type="password"] {
    width: 220px;
  }

  .woocommerce-password-hint {
    display: none;
  }
}

.woocommerce-password-strength {
  flex: 1;
  padding-left: 15px;
  font-size: 0;
  color: $color-main;

  &::after {
    font-size: 13px;
  }

  &.short::after {
    content: map-get($checkout-password-meter, too_short);
    color: $color-red;
  }

  &.bad::after {
    content: map-get($checkout-password-meter, bad);
    color: $color-blue;
  }

  &.good::after {
    content: map-get($checkout-password-meter, good);
    color: $color-green;
  }

  &.strong::after {
    content: map-get($checkout-password-meter, strong);
    color: $color-green;
  }
}


#ship-to-different-address label {
  display: inline-block;
}




///// ORDER DETAILS

#order_review_heading {
  display: none;
}



///// SHOP TABLE

.column-aside .shop_table {
  width: 100%;

  tr {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  td, th {
    display: block
  }

  td, th {
    padding: 0.428em 0.5em;
    text-align: left;
    vertical-align: top;

    &:nth-child(2) {
      text-align: right;
    }
  }

  .woocommerce-Price-currencySymbol {
    display: none;
  }
}

.column-aside .shop_table {
  thead {
    display: none;
  }

  tbody {
    td:nth-child(1) { width: 70%; }
    td:nth-child(2) { width: 30%; }

    tr:last-child > th,
    tr:last-child > td {
      padding-bottom: 1.5rem;
    }
  }

  tfoot {
    width: 100%;
    border-top: $checkout-border;
    color: $checkout-font-passive;

    th { width: 35%; font-weight: $font-weight; }
    td { width: 65%; }

    tr:first-child > th,
    tr:first-child > td {
      padding-top: 1rem;
    }

    tr:nth-last-child(2) > th,
    tr:nth-last-child(2) > td {
      padding-bottom: 1rem;
    }
  }
}

// Thank You table
.woocommerce-table--order-details tfoot {
  th { width: 50%; }
  td { width: 50%; }
}

// Cart Item
.shop_table .cart_item,
.shop_table .order_item {
  img {
    margin-right: 0.5em;
    width: 55px;
    height: auto;
    border: $checkout-border;
    border-radius: $g-radius;
  }

  .product-name {
    display: -webkit-flex;
    display: flex;
    position: relative;
    align-items: center;

    line-height: 1.3;
    font-weight: 700;
  }

  .product-quantity {
    margin-left: 0.5em;
    border: $checkout-border;
    background-color: white;
    padding: 0.25em;
    letter-spacing: -1px;
    line-height: 1;
    white-space: nowrap;

    border-radius: $g-radius;
  }

  .variation {
    width: 100%;
    font-weight: 400;

    dt, dd {
      display: inline-block;
    }
  }
}

// Cart Discount
.shop_table .cart-discount {
  color: $font-color;

  th { font-weight: $header-weight; }

  .woocommerce-remove-coupon {
    font-size: 0;

    &::after {
      content: "×";
      display: inline-block;
      background-color: #c8c8c8;
      width: 16px;
      height: 16px;
      margin-left: 0.25em;

      color: white;
      text-align: center;
      font-size: 1rem;
      line-height: 1;
      border-radius: 50%;
    }

    &:hover::after {
      background-color: $color-red;
    }
  }
}

// Shipping
.shop_table .shipping {
  th {
    align-self: flex-start;
  }

  tr:nth-last-child(2) > th {
    @include below(mini) {
      padding-bottom: 0;
    }
  }

  td {
    @include below(mini) {
      width: 100%;
    }
  }
}


///// ORDER TOTAL

.shop_table .order-total,
.woocommerce-table--order-details tfoot tr:last-child {
  border-top: $checkout-border;
  color: $font-color;

  th { vertical-align: middle; font-size: em(16px, $checkout-font-size); }
  td { font-size: em(24px, $checkout-font-size); }

  th, td { padding-top: 1rem; padding-bottom: 1rem; }
  strong { font-weight: $font-weight; }

  .woocommerce-Price-currencySymbol {
    display: inline;
    font-size: em($checkout-font-size, 24px);
    color: $checkout-font-passive;
    vertical-align: middle;
  }
}


///// SHIPPING and PAYMENT METHOD

#shipping_method,
.wc_payment_methods {
  background-color: white;
  border: $checkout-border;
  list-style-type: none;
  border-radius: $checkout-radius;

  li {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li + li {
    border-top: $checkout-border;
  }

  label {
    flex: 1;
    padding: 1em;
  }

  input[type="radio"]:checked + label {
    font-weight: $header-weight;
  }
}

#shipping_method {
  margin-right: -0.5em; // offset for extra box
  text-align: left;

  @include below(mini) {
    margin-left: -0.5em;
  }

  input[type="radio"] {
    margin-left: 0.5em;
  }

  label {
    display: -webkit-flex;
    display: flex;
    padding: 0.75em 0.5em;

    .woocommerce-Price-amount {
      margin-left: auto;
    }
  }
}

.wc_payment_methods {
  margin-bottom: 1em;

  input[type="radio"] {
    margin-left: 1em;
  }

  .payment_box {
    width: 100%;
    padding: 0 1em 1em 3em;
  }
}

///// Submit Order button

.wc_payment_methods + .place-order {
  padding: 0;
}

// body text
.woocommerce-terms-and-conditions {
  position: relative;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid rgba(black, .1);

  text-align: left;
  border-radius: $g-radius;

  p, ul, blockquote {
    font-size: em(12px);
    margin-bottom: 1em;
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-left: 1em;
  }
}

.wc-terms-and-conditions {
  margin-bottom: 1em;
  padding: 0;
  text-align: left;

  input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 0.5em;
  }

  label span {
    font-weight: 700;
  }

  label a {
    text-decoration: underline;
  }
}

.woocommerce-privacy-policy-text {
  display: none;
  margin-bottom: 1em;
}

.place-order {
  text-align: right;

  .button {
    padding: 0.5em 1.5em;
    font-size: 16px;
  }
}


///// LEGAL

.checkout-legal {
  margin-top: auto;
  border-top: $checkout-border;
  padding: 1em 0;
  font-size: em(12px);
  color: $checkout-font-passive;

  span + span::before {
    content: "• ";
  }
}


///// THANK YOU and PAYMENT INSTRUCTION Page /////

.woocommerce-thankyou-order-received,
.woocommerce-order-pay #payment-instruction {
  border: $checkout-border-dark;
  border-bottom: none;
  padding: em(28px 14px, 18px);
  background: $color-main-light image-url('thankyou-card.jpg') center bottom;
  background-size: cover;

  text-align: center;
  border-radius: $g-radius $g-radius 0 0;

  .button {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border: none;

    background-color: transparent;
    text-decoration: underline;
    color: $color-main;

    &:hover,
    &:active {
      color: lighten($color-main, 20%);
      box-shadow: none;
    }
  }
}

.woocommerce-thankyou-order-received {
  font-size: em(18px, $checkout-font-size);
}

%order-overview-list {
  color: $checkout-font-passive;
  font-size: em(12px, $checkout-font-size);

  strong {
    display: block;
    color: $font-color;
    font-size: em($checkout-font-size, 12px);
    font-weight: $font-weight;
  }
}

.woocommerce-order-overview,
.woocommerce-order-pay .order_details {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  border: $checkout-border-dark;
  border-top: none;
  padding: 1em;
  margin-bottom: 3em;

  list-style-type: none;
  color: $checkout-font-passive;
  border-radius: 0 0 $g-radius $g-radius;

  li {
    @extend %order-overview-list;
    width: 25%;

    @include between(small, medium) {
      width: 50%;
      margin-bottom: 1em;
    }

    @include below(mini) {
      width: 50%;
      margin-bottom: 1em;
    }
  }

  .woocommerce-Price-currencySymbol {
    font-weight: $font-weight;
    font-size: em(12px, $checkout-font-size);
  }
}


///// BANK TRANSFER

.woocommerce-bacs-bank-details {
  margin: 1em -0.5em 0;
  @include clearfix;

  h2 {
    padding: 0 7px;
  }
}

.wc-bacs-bank-details {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  float: left;
  width: calc(50% - 1em);
  margin: 0 0.5em 1em;
  margin-bottom: 1em;
  padding: 0.5em 1em;

  border: $checkout-border;
  border-radius: $g-radius;
  list-style-type: none;

  @include between(small, medium) {
    width: calc(100% - 1em);
  }

  @include below(mini) {
    width: calc(100% - 1em);
  }

  .bank_name {
    order: 1;
    margin-bottom: 35px;
    font-size: 0;
    text-align: right;

    strong {
      font-size: 18px;
    }
  }

  .account_number {
    order: 2;
    font-size: 0;

    strong {
      font-size: 18px;
      font-family: monospace;
      letter-spacing: 2px;
    }
  }

  .account_name {
    order: 3;

    h3 {
      font-weight: $font-weight;
      font-size: $checkout-font-size;
    }
  }

  .sort_code,
  .iban,
  .bic  {
    @extend %order-overview-list;
    order: 4;

    strong { display: inline-block; }
  }
}


///// Customer Details

.column-aside .woocommerce-customer-details {
  display: none;
}

.woocommerce-customer-details {
  margin-top: 3em;
  padding-top: 3em;
  border-top: $checkout-border;

  .woocommerce-columns {
    display: -webkit-flex;
    display: flex;
    margin: 0 -10px;
  }

  .woocommerce-column {
    width: 50%;
    margin-top: 0;
    margin-bottom: 1em;
    padding: 0 10px;
  }

  h3 {
    font-size: em(12px, $checkout-font-size);
  }
}

.woocommerce-table--customer-details {
  display: block;
  margin-bottom: 1em;

  tbody {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  tr {
    display: block;
    margin-bottom: 1em;
    max-width: 50%;
    padding: 0 10px;

    @include below(mini) {
      max-width: 100%;
      min-width: 50%;
    }
  }

  th {
    display: block;
    width: 100%;
    font-size: em(12px, $checkout-font-size);
    text-align: left;
  }

  td {
    display: block;
    width: 100%;
  }
}


///// MIDTRANS Awaiting Payment page

.woocommerce-order-pay {
  div.woocommerce {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 0 10px;
    margin-top: 3em;
  }

  #payment-instruction {
    display: block !important;
    order: 1;
  }

  .order_details {
    order: 2;
  }

  #pay-button {
    order: 3;
    align-self: center;
  }
}


///// Store Wide Notice

.woocommerce-store-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: $color-main;
  padding: 0.5em 1em;

  text-align: center;
  color: white;
  box-shadow: $shadow-z2;

  a {
    display: inline-block;
    float: right;
    background-color: $color-main-dark;
    padding: 0.5em 2em;
    margin: -0.5em -1em;

    color: white;
    text-decoration: underline;

    &:hover { opacity: .7; }
  }
}
