$_h-all: (); // store all the Functional variables

// Height
$h-height: (
  names: ( h: height ),
  values: (
    '-auto': auto,
    0: 0,
    25: 25%,
    33: calc(100% / 3),
    50: 50%,
    66: calc(100% / 1.5),
    75: 75%,
    100: 100%,
    100vh: 100vh,
  )
);


// Width
$h-width: (
  names: ( w: width ),
  values: (
    '-auto': auto,
    0: 0,
    10: 10%,
    20: 20%,
    25: 25%,
    30: 30%,
    33: calc(100% / 3),
    40: 40%,
    50: 50%,
    60: 60%,
    66: calc(100% / 1.5),
    70: 70%,
    75: 75%,
    80: 80%,
    90: 90%,
    100: 100%,
    100vw: 100vw,
  )
);


// Position Move
$h-position: (
  names: (
    top: top,
    right: right,
    bottom: bottom,
    left: left
  ),
  values: (
    0: 0,
    50: 50%,
    100: 100%,
    '-auto': auto,
  )
);


// Z-Index
$h-z-index: (
  names: ( z: z-index ),
  values: (
    '-1': -1,
    0: 0,
    2: 2,
    5: 5,
    10: 10,
    50: 50,
    100: 100,
  )
);


// Padding
$h-padding: (
  names: (
    p: padding,
    pv: ( padding-top, padding-bottom ),
    ph: ( padding-right, padding-left ),
    pt: padding-top,
    pr: padding-right,
    pb: padding-bottom,
    pl: padding-left,
  ),
  values: (
    0: 0,
    '025': 0.25rem,
    '05': 0.5rem,
    '075': 0.75rem,
    1: 1rem,
    125: 1.25rem,
    15: 1.5rem,
    2: 2rem,
    25: 2.5rem,
    3: 3rem,
    4: 4rem,
  ),
);

// Margin
$h-margin: (
  names: (
    m: margin,
    mv: ( margin-top, margin-bottom ),
    mh: ( margin-right, margin-left ),
    mt: margin-top,
    mr: margin-right,
    mb: margin-bottom,
    ml: margin-left,
  ),
  values: (
    '-auto': auto,
    0: 0,
    '025': 0.25rem,
    '05': 0.5rem,
    '075': 0.75rem,
    1: 1rem,
    125: 1.25rem,
    15: 1.5rem,
    2: 2rem,
    25: 2.5rem,
    3: 3rem,
    4: 4rem,
  )
);


// Border width
$h-border: (
  names: (
    b: border,
    bt: border-top,
    bl: border-left,
    br: border-right,
    bb: border-bottom,
  ),
  values: (
    '-none': none, // deprecated
    '0': 0,
    '1-solid': 1px solid,
    '1-dashed': 1px dashed,
    '2-solid': 2px solid,
    '2-dashed': 2px dashed,
  )
);


// Border color
$h-border-color: (
  names: ( bc-: border-color ),
  values: (
    main: $main,
    main-dark: $main-dark,
    main-light: $main-light,
    
    sub: $sub,
    sub-dark: $sub-dark,
    sub-light: $sub-light,
    'transparent': transparent,

    gray: $gray,
    gray-dark: $gray-dark,
    gray-light: $gray-light,

    'red': $red,
    'green': $green,
    'blue': $blue,
    'yellow': $yellow,

    'black': black,
    black75: rgba(black, .75),
    black50: rgba(black, .50),
    black25: rgba(black, .25),
    black10: rgba(black, .10),
    black05: rgba(black, .05),

    'white': white,
    white75: rgba(white, .75),
    white50: rgba(white, .50),
    white25: rgba(white, .25),
    white10: rgba(white, .10),
    white05: rgba(white, .05),
  )
);


// Border Radius
$h-border-radius: (
  br: ( border-radius: $g-radius ), // deprecated
  br-circle: ( border-radius: 50% ), // deprecated
  br-pill: ( border-radius: 999px ), // deprecated
  
  brad0: ( border-radius: 0 ),
  brad: ( border-radius: $g-radius ),
  brad-circle: ( border-radius: 50% ),
  brad-pill: ( border-radius: 999px ),
);


// Background Color
$h-background-color: (
  names: ( bg-: background-color ),
  values: (
    body: $body-background,
    'transparent': transparent,
    'inherit': inherit,
    
    main: $main,
    main75: rgba($main, .75),
    main50: rgba($main, .50),
    main25: rgba($main, .25),
    main10: rgba($main, .10),
    main05: rgba($main, .05),
    main-dark: $main-dark,
    main-light: $main-light,
    
    sub: $sub,
    sub-dark: $sub-dark,
    sub-light: $sub-light,
    
    gray: $gray,
    gray-dark: $gray-dark,
    gray-light: $gray-light,

    'red': $red,
    'blue': $blue,
    'yellow': $yellow,
    'green': $green,

    'black': black,
    black75: rgba(black, .75),
    black50: rgba(black, .50),
    black25: rgba(black, .25),
    black10: rgba(black, .10),
    black05: rgba(black, .05),

    'white': white,
    white75: rgba(white, .75),
    white50: rgba(white, .50),
    white25: rgba(white, .25),
    white10: rgba(white, .10),
    white05: rgba(white, .05),
  )
);


// Background Image - name can't be duplicate with BG Color
$h-background-image: (
  names: ( bg-: background-image ),
  values: ()
);


// Opacity
$h-opacity: (
  names: ( o: opacity ),
  values: (
    100: 1,
    90: .9,
    80: .8,
    70: .7,
    60: .6,
    50: .5,
    40: .4,
    30: .3,
    20: .2,
    10: .1,
    0: 0,
  )
);


// Box Shadow
$h-shadow: (
  names: ( shadow: box-shadow ),
  values: (
    0: $shadow-z0,
    1: $shadow-z1,
    2: $shadow-z2,
    3: $shadow-z3,
    '-none': none,
  )
);


// Hover Effect
$h-hover: (
  hover-dim: (
    ':hover': ( opacity: .6 ),
    ':active': ( opacity: .8 ),
  ),
  hover-grow: (
    ':hover': ( '-webkit-transform': scale(1.05), transform: scale(1.05) ),
    ':active': ( '-webkit-transform': scale(1), transform: scale(1) ),
  ),
  hover-u: ( ':hover': ( text-decoration: underline ) ),
);


// Transition
$h-transition: (
  transition: ( transition: $g-transition ),
  transition-none: ( transition: none ),
);


// Font Size
$h-font-size: (
  names: ( fs-: font-size ),
  values: (
    h1: '%h1',
    h2: '%h2',
    h3: '%h3',
    h4: '%h4',
    h5: '%h5',
    h6: '%h6',
    body: 1rem,
    s: 0.875em,
    m: 1.125em,
  ),
);


// Font Color
$h-color: (
  names: ( c-: color ),
  values: (
    body: $font-color,
    passive: $font-passive,
    link: $color-link,
    inherit: inherit,
    'transparent': transparent,

    main: $main,
    main75: rgba($main, .75),
    main50: rgba($main, .5),
    main-dark: $main-dark,
    main-light: $main-light,

    sub: $sub,
    sub-dark: $sub-dark,
    sub-light: $sub-light,

    'red': $red,
    'green': $green,
    'blue': $blue,
    'yellow': $yellow,

    'black': black,
    black75: rgba(black, .75),
    black50: rgba(black, .5),

    'white': white,
    white75: rgba(white, .75),
    white50: rgba(white, .5),
  ),
);


// Letter Spacing
$h-letter-spacing: (
  names: ( ls: letter-spacing ),
  values: (
    '-100': -0.1em,
    '-50': -0.05em,
    '-25': -0.025em,
    0: 0,
    25: 0.025em,
    50: 0.05em,
    75: 0.075em,
    100: 0.1em,
    150: 0.15em
  )
);


// Font Family
$h-font-family: (
  names: ( ff-: font-family ),
  values: (
    body: $font-family,
    header: $font-family-header
  )
);


// Line Height
$h-line-height: (
  names: ( lh: line-height ),
  values: (
    0: 0,
    1: 1,
    '-normal': normal,
    '-body': $font-line,
    '-header': $header-line,
  )
);



///// PRIVATE VARS //////
// Don't change anything below here


// --------
// DISPLAY
// --------

$_h-display: (
  d-inline-block: ( display: inline-block ),
  d-iblock: ( display: inline-block ),
  d-block: ( display: block ),
  d-none: ( display: none ),
  d-flex: ( '_display': '-webkit-flex', display: flex ),
  d-grid: ( '_display': '-ms-grid', display: grid ),
);

// Flexbox
$_h-flex: (
  fd-row: ( flex-direction: row ),
  fd-column: ( flex-direction: column ),
  fd-column-reverse: ( flex-direction: column-reverse ),
  fd-row-reverse: ( flex-direction: row-reverse ),
  fw-wrap: ( flex-wrap: wrap ),
);


// Flex Wrapper - Align Items
$_h-align-items: (
  names: (
    ai-: align-items,
  ),
  values: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
  )
);


// Flex wrapper - Justify content
$_h-justify-content: (
  names: (
    jc-: justify-content,
  ),
  values: (
    start: flex-start,
    end: flex-end,
    center: center,
    around: space-around,
    between: space-between
  )  
);


// Flex portion
$_h-flex-portion: (
  names: (
    flex: flex,
  ),
  values: (
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5
  )
);


// Flex order
$_h-flex-order: (
  names: (
    order: order,
  ),
  values: (
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    '-last': 999
  ),
);


// Flex Align Self
$_h-align-self: (
  names: (
    as-: align-self,
  ),
  values: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch,
  )
);


// Overflow
$_h-overflow: (
  names: (
    ov-: overflow,
    ovx-: overflow-x,
    ovy-: overflow-y,
  ),
  values: (
    auto: auto,
    hidden: hidden,
    scroll: scroll,
    visible: visible,
  )
);


// Cursor
$_h-cursor: (
  names: (
    cursor-: cursor,
  ),
  values: (
    default: default,
    pointer: pointer,
    text: text,
    move: move,
    grab: grab,
    progress: progress,
    not-allowed: not-allowed,
    zoom-in: zoom-in,
    zoom-out: zoom-out,
  )
);

// Other Display
$_h-display-misc: (
  v-visible: ( visibility: visible ),
  v-hidden: ( visibility: hidden ),

  select-none: (
    '-webkit-touch-callout': none,
    '-webkit-user-select': none,
    '-moz-user-select': none,
    'user-select': none
  ),
  
  events-none: (
    pointer-events: none,
  ),
  events-all: (
    pointer-events: all,
  ),

  appearance-none: (
    '-moz-appearance': none,
    '-webkit-appearance': none,
    'appearance': none
  ),
  backface-hidden: (
    '-webkit-backface-visibility': hidden,
    'backface-visibility': hidden
  ),

  no-select: ( // deprecated
    '-webkit-touch-callout': none,
    '-webkit-user-select': none,
    '-moz-user-select': none,
    'user-select': none
  ),
  no-appearance: ( // deprecated
    '-moz-appearance': none,
    '-webkit-appearance': none,
    'appearance': none
  ),
  no-events: ( // deprecated
    pointer-events: none,
  ),
);


// -------
// LAYOUT
// -------

$_h-max-height: (
  names: ( maxh: max-height ),
  values: (
    '-none': none,
    50: 50%,
    100: 100%
  )
);

$_h-min-height: (
  names: ( minh: min-height ),
  values: (
    '-auto': auto,
    50: 50%,
    100: 100%
  )
);

$_h-max-width: (
  names: ( maxw: max-width ),
  values: (
    '-none': none,
    50: 50%,
    100: 100%
  )
);

$_h-min-width: (
  names: ( minw: min-width ),
  values: (
    '-auto': auto,
    50: 50%,
    100: 100%
  )
);


// Position
$_h-position: (
  static: ( position: static ),
  relative: ( position: relative ),
  absolute: ( position: absolute ),
  fixed: ( position: fixed ),
  sticky: ( '_position': '-webkit-sticky', position: sticky ),

  absolute-fill: ( position: absolute, top: 0, right: 0, left: 0, bottom: 0 ),
);


// Float
$_h-float: (
  float-left: ( float: left ),
  float-right: ( float: right ),
  float-none: ( float: none ),
  clear-both: ( clear: both ),
  clear-none: ( clear: none ),
  clearfix: (
    '::before': ( content: " ", display: table ),
    '::after': ( content: " ", display: table, clear: both )
  )
);


// ------
// THEME
// ------

$_h-background-position: (
  names: ( bgp-: background-position ),
  values: (
    cc: center center,
    cr: center right,
    cl: center left,
    tc: top center,
    tr: top right,
    tl: top left,
    bc: bottom center,
    br: bottom right,
    bl: bottom left,
  )
);


// Background Misc
$_h-background-misc: (
  bgs-cover: ( background-size: cover ),
  bgs-contain: ( background-size: contain ),
  
  bgr: ( background-repeat: repeat ),
  bgr-no: ( background-repeat: no-repeat ),
  bgr-x: ( background-repeat: repeat-x ),
  bgr-y: ( background-repeat: repeat-y ),

  // alias
  bgr-repeat: ( background-repeat: repeat ),
  bgr-no-repeat: ( background-repeat: no-repeat ),
  bgr-repeat-x: ( background-repeat: repeat-x ),
  bgr-repeat-y: ( background-repeat: repeat-y ),
);


// Theme Misc
$_h-theme-misc: (
);


// -----------
// TYPOGRAPHY
// -----------

// List style
$_h-list-style: (
  names: ( list-: list-style-type ),
  values: (
    none: none,
    disc: disc,
    circle: circle,
    square: square,
  
    decimal: decimal,
    decimal0: decimal-leading-zero,
    alpha: lower-alpha,
    roman: lower-roman,
    upper-alpha: upper-alpha,
    upper-roman: upper-roman,
  )
);


// Font Misc
$_h-font-misc: (
  nowrap: ( white-space: nowrap ),
  
  tt-uppercase: ( text-transform: uppercase ),
  tt-lowercase: ( text-transform: lowercase ),
  tt-capitalize: ( text-transform: capitalize ),
  tt-none: ( text-transform: none ),

  ta-center: ( text-align: center ),
  ta-right: ( text-align: right ),
  ta-left: ( text-align: left ),
  ta-justify: ( text-align: justify ),
);


// Font Weight
$_h-font-weight: (
  names: ( fw: font-weight ),
  values: (
    300: 300,
    400: 400,
    600: 600,
    700: 700,
    900: 900,
    '-body': $font-weight,
    '-header': $header-weight,
  )
);


// Font Styles
$_h-font-style: (
  b: ( font-weight: 700 ),
  i: ( font-style: italic ),
  u: ( text-decoration: underline ),
  td-u: ( text-decoration: underline ),
  strike: ( text-decoration: line-through ),
  td-strike: ( text-decoration: line-through ),
  td-none: ( text-decoration: none ),
);


// Vertical Align
$_h-vertical-align: (
  names: ( va-: vertical-align ),
  values: (    
    baseline: baseline,
    top: top,
    middle: middle,
    bottom: bottom,
    sub: sub,
    super: super,
    text-top: text-top
  )
);


/////

$_h-all: map-merge( $_h-all, _merge(
  $_h-display,
  $_h-flex,
  $_h-align-items,
  $_h-justify-content,
  $_h-flex-order,
  $_h-flex-portion,
  $_h-align-self,
  $_h-overflow,
  $_h-cursor,
  $_h-display-misc,

  $h-width,
  $_h-min-width,
  $_h-max-width,
  $h-height,
  $_h-min-height,
  $_h-max-height,
  $_h-position,
  $h-position,
  $h-z-index,
  $_h-float,

  $h-padding,
  $h-margin,
  $h-border,
  $h-border-color,
  $h-border-radius,

  $h-background-color,
  $h-background-image,
  $_h-background-position,
  $_h-background-misc,
  $h-shadow,
  $h-opacity,
  $h-hover,
  $_h-theme-misc,
  $h-transition,

  $h-font-size,
  $h-letter-spacing,
  $h-color,
  $h-font-family,
  $h-line-height,
  $_h-list-style,
  $_h-font-misc,
  $_h-font-weight,
  $_h-font-style,
  $_h-vertical-align,

  $h-custom,
) );